In [1]:
import pandas as pd

In [2]:
rutas = ["datos_procesados_04-11.parquet","datos_procesados_12-18.parquet","datos_procesados_19-25.parquet"]

lista_dfs = []

for ruta in rutas:
    lista_dfs.append(pd.read_parquet(f"../data/{ruta}"))

In [13]:
for df in lista_dfs:
    print(df.columns)

Index(['id_estudiante', 'id_colegio_rbd', 'dependencia_colegio',
       'rama_educacional', 'situacion_egreso', 'cod_region', 'cod_comuna',
       'puntaje_lectora', 'puntaje_m1', 'puntaje_historia', 'puntaje_ciencias',
       'tipo_ciencia', 'promedio_notas', 'puntaje_nem', 'year_proceso'],
      dtype='object')
Index(['id_estudiante', 'id_colegio_rbd', 'dependencia_colegio',
       'rama_educacional', 'situacion_egreso', 'cod_region', 'cod_comuna',
       'promedio_notas', 'puntaje_nem', 'puntaje_lectora', 'puntaje_m1',
       'puntaje_historia', 'puntaje_ciencias', 'year_proceso',
       'puntaje_ranking'],
      dtype='object')
Index(['id_estudiante', 'id_colegio_rbd', 'year_proceso',
       'dependencia_colegio', 'situacion_egreso', 'rama_educacional',
       'cod_region', 'cod_comuna', 'promedio_notas', 'puntaje_nem',
       'puntaje_ranking', 'puntaje_lectora', 'puntaje_m1', 'puntaje_historia',
       'puntaje_ciencias', 'tipo_ciencia', 'puntaje_m2'],
      dtype='object')

In [12]:
mapa_renombre = {
        'ID_aux': 'id_estudiante',
        'RBD': 'id_colegio_rbd',
        'GRUPO_DEPENDENCIA': 'dependencia_colegio',
        'RAMA_EDUCACIONAL': 'rama_educacional',
        'SITUACION_EGRESO': 'situacion_egreso',
        'CODIGO_REGION': 'cod_region',
        'CODIGO_COMUNA': 'cod_comuna',
        'PROMEDIO_NOTAS': 'promedio_notas',
        'PTJE_NEM': 'puntaje_nem',
        'PTJE_RANKING': 'puntaje_ranking',
        'LENG_ACTUAL': 'puntaje_lectora',
        'CLEC_ACTUAL': 'puntaje_lectora',
        'CLEC_REG_ACTUAL': 'puntaje_lectora',

        'MATE_ACTUAL': 'puntaje_m1',
        'MATE1_REG_ACTUAL': 'puntaje_m1',

        'MATE2_REG_ACTUAL': 'puntaje_m2',

        'HCSO_ACTUAL': 'puntaje_historia',
        'HCSOC_REG_ACTUAL': 'puntaje_historia',

        'CIEN_ACTUAL': 'puntaje_ciencias',
        'CIEN_REG_ACTUAL': 'puntaje_ciencias',
        'MODULO_ACTUAL': 'tipo_ciencia',
        'MODULO_REG_ACTUAL': 'tipo_ciencia',
        'YEAR_PROCESO': 'year_proceso'
    }

    # Aplicamos el nuevo nombre de las columnas
lista_dfs[0].rename(columns=mapa_renombre, inplace=True)

In [16]:
mapa_dependencia = {
    1.0: 'Particular Pagado',
    2.0: 'Particular Subvencionado',
    3.0: 'Municipal',
    4.0: 'Servicio Local de Educaci√≥n'
}

lista_dfs[0]['dependencia_colegio'] = lista_dfs[0]['dependencia_colegio'].map(mapa_dependencia)

In [19]:
df = pd.concat(lista_dfs).reset_index(drop=True)

df

,id_estudiante,id_colegio_rbd,dependencia_colegio,rama_educacional,situacion_egreso,cod_region,cod_comuna,puntaje_lectora,puntaje_m1,puntaje_historia,puntaje_ciencias,tipo_ciencia,promedio_notas,puntaje_nem,year_proceso,puntaje_ranking,puntaje_m2
0,id_001160071115,NaN,Municipal,T1,1.0,1.0,201.0,469.0,457.0,437.0,426.0,None,63.00,682.0,2004,NaN,<NA>
1,id_0016900171627,NaN,Municipal,H2,5.0,3.0,240.0,492.0,457.0,513.0,<NA>,None,53.00,481.0,2004,NaN,<NA>
2,id_0016900571641,NaN,Municipal,T1,5.0,2.0,225.0,391.0,442.0,<NA>,396.0,None,48.00,376.0,2004,NaN,<NA>
3,id_0028900472899,NaN,Municipal,H1,1.0,8.0,415.0,353.0,487.0,402.0,<NA>,None,48.00,373.0,2004,NaN,<NA>
4,id_004500078456,NaN,Particular Subvencionado,H2,1.0,10.0,510.0,430.0,425.0,451.0,<NA>,None,54.00,501.0,2004,NaN,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5455232,id_5995599440825,9986.0,Municipal,T1,1.0,13.0,13126.0,<NA>,<NA>,<NA>,<NA>,NaN,NaN,NaN,2025,NaN,<NA>
5455233,id_4895488246247,NaN,NaN,H4,4.0,NaN,NaN,605.0,700.0,542.0,502.0,BIO,NaN,NaN,2025,NaN,<NA>
5455234,id_9866988747313,9140.0,Particular Subvencionado,H1,5.0,13.0,13122.0,746.0,589.0,<NA>,665.0,BIO,6.28,793.0,2025,856.0,362
5455235,id_5866598447255,2733.0,Municipal,H1,5.0,7.0,7301.0,<NA>,<NA>,<NA>,<NA>,NaN,5.68,622.0,2025,631.0,<NA>
5455236,id_7666786545377,125.0,Servicio Local de Educaci√≥n,H1,5.0,1.0,1101.0,596.0,710.0,<NA>,<NA>,NaN,5.38,536.0,2025,536.0,362

In [ ]:
#df_PSU =
#df_PDT =
#df_PAES =